html {
    background-color: rgb(46, 46, 46);
    color: white;   
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}


button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: fit-content;
    padding: 10px;
    font-size: 400%;
    text-align: center;
    height: 15%;
    background-color: rgb(29, 26, 26);
    z-index: 200;
}

nav {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    max-width: 100%;
    padding-bottom: 2%;
}

.navbtn {
    padding: 15px;
    background: none;
    border: none;
    color: white;
    transition: 0.3s;
}

.navbtn:hover {
    transform: translateY(-15%);
    transition: transform 0.3s;   
}

.navbtn:active {
    border-bottom: solid white
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/*---------------------------------------------------------------------HOME--------------------------------------------------------------------------------------------*/


.home {
    display: flex;
    margin-top:50px;
    margin-bottom: 90px;
    flex-direction: column;
    width: 80%;
    background-color: white;
    color: black;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    box-shadow: 25px 25px black;
    animation: fadeIn 1.5s;
    text-align: center;
    gap: 15px;
}

#maker {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 75%;
        margin-top: 2vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


h1 {
    word-break: normal !important;
}
/*---------------------------------------------------------------------MENU--------------------------------------------------------------------------------------------*/


.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    z-index: 100;
    background-color: white;
    color: black;
    margin-top:50px;
    width: 80%;
    box-shadow: 25px 25px black;
    animation: fadeIn 1.5s;
    gap: 1%;
}

#item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15%;
    word-break: break-word;
}

.item9 {
    visibility: hidden;
}

#itemText {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    font-size: 1.5vw;
}


img {
    height: 20%;
    width: 20%;
}





/*---------------------------------------------------------------------CONTACT--------------------------------------------------------------------------------------------*/

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top:50px;
    margin-bottom: 90px;
    background-color: white;
    color: black;
    padding: 25px;
    padding-bottom: 45px;
    box-shadow: 25px 25px black;
    width: 80%;
    animation: fadeIn 1.5s;
}


.footer {
    z-index: 150;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: rgb(29, 26, 26);
    width: 100%;
    text-align: center;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}