html {
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    padding: 10px;
    font-size: 8vh;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: rgb(92, 92, 92);
}

nav {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    max-width: 100%;
    padding-bottom: 3vh;
}

.navbtn {
    padding: 15px;
    width: 10vh;
    background: none;
    border: none;
    color: white;
    transition: 0.3s;
}

.navbtn:hover {
    transform: translateY(-15%);
    transition: transform 0.3s;   
}

.navbtn:active {
    border-bottom: solid white
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vh;
}


.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: rgb(92, 92, 92);
    width: 100%;
    text-align: center;
}
